body {
  padding: 20px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: #06204e;
}
.Weather {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  border: solid 2px #06204e;
  background-color: #f8fbfb;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.Weather ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #06204e;
  margin-left: -30px;
}

.Weather img {
  width: 150px;
}

.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 22px;
}

.form input,
button {
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
  background-color: #fffbff;
  color: #06204e;
}

.form button:hover {
  background-color: #7279a7;
  color: #fffbff;
}

.form input:hover {
  border: solid 2px #7279a7;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: #06204e;
  font-weight: bold;
  font-size: 22px;
}

footer {
  color: #06204e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 12px;
  padding: 20px;
}

.footer-link {
  text-decoration: none;
  color: #8b1874;
}
.footer-link:hover {
  font-weight: 400;
}
